body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
body::after {
  content: "";
  filter: blur(10px);
  position: absolute;
  width: 104%;
  height: 104%;
  background-image: url("https://i.imgur.com/esLy4J4.jpg");
  top: -10px;
  left: -10px;
}
.App {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  align-items: center;
  max-height: 80vh;
}

.heading {
  text-align: center;
  width: 100%;
  margin-bottom: 0;
  color: white;
  z-index: 100;
  position: sticky;
}

#videos {
  position: relative;
  min-height: 85vh;
  min-width: 95vw;
  margin: auto;
  align-self: flex-start;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  justify-items: center;
  align-items: center;
}

.vid {
  background-color: black;
  height: 100%;
  width: 100%;
  border-width: 1px;
  border-color: #38373a;
  border-style: solid;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 100;
}

.controls {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  margin: -20px auto;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  align-items: center;
  justify-items: center;
  z-index: 101;
  width: 500px;
  max-width: 60vw;
}

.controls p {
  padding: 10px;
  cursor: pointer;
  background: #38373a;
  color: #f7f7f7;
  border-width: 1px;
  border-color: #f7f7f7;
  border-style: solid;
}

.controls p.on {
  background: #f7f7f7;
  color: #38373a;
  border-width: 1px;
  border-color: #38373a;
  border-style: solid;
}

.join {
  position: absolute;
  z-index: 1;
  width: 30vw;
  height: fit-content;
  height: -moz-max-content;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 75vw;
}

.join input {
  padding: 15px;
  font-size: 1rem;
  border-width: 1px;
  border-color: dodgerblue;
  border-style: solid;
  width: 80%;
  display: block;
  margin: 50px auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.join button {
  min-width: 200px;
  padding: 12px 0;
  text-align: center;
  background-color: dodgerblue;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border-radius: 50px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.controls button {
  width: 65px;
  height: 65px;
  border-radius: 100%;
  border: none;
  background: dodgerblue;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 100;
}
.w-6 {
  width: 30px;
}
.h-6 {
  height: 30px;
}
